@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --font-family-headings: "Roboto Condensed", serif;
  --font-family-body: "Montserrat", sans-serif;
  --font-family-secondary: "Roboto Mono", Arial, Helvetica, serif;
  --color-neutral-100: #ffffff;
  --color-neutral-300: #979797;
  --color-purple-100: #ebe3f7;
  --color-purple-500: #7631e0;
  --color-purple-800: #695a81;
  --color-green-100: #c7e9d8;
  --color-green-500: #31e081;
  --z-index-minus1: -1;
  --z-index-base: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-max: 10;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-purple-800);
  background: var(--color-neutral-100);
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  top: 0;
  left: 0;

  cursor: auto;
}

@media only screen and (min-width: 767px) {
  body {
    cursor: none;
  }
}

main {
  width: 100%;
  background: white;
  padding: 80px 24px;
}

@media only screen and (min-width: 900px) {
  main {
    padding: 80px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: 700;
  font-optical-sizing: auto;
}

h1 {
  font-size: 50px;
  font-size: clamp(2rem, 10vw, 5rem);
  line-height: 1.1;
  font-style: italic;
}
h2 {
  font-size: 45px;
  font-size: clamp(1.2rem, 8vw, 3.2rem);
  line-height: 1.3;
  font-style: italic;
}
h3 {
  font-size: 38px;
  font-size: clamp(1.8rem, 4.5vw, 2.4rem);
  line-height: 1.3;
  font-weight: 500;
}
/* h4{
  font-size: 32px;
  font-size: clamp(1rem, 6vw, 2.6rem);
}
h5{
  font-size: 28px;
  font-size: clamp(1.8rem, 2.5vw, 3rem);
}
h6 {
  font-size: 24px;
  font-size: clamp(1.8rem, 2.5vw, 3rem);
} */

/* 
h1 {
  font-size: 5rem;
} */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: clamp(1rem, 8vw, 1.2rem);
}

a.button-type {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 1.4rem;
  border-radius: 100px;
  background-color: var(--color-purple-500);
  color: white;
  border: 0;
  width: fit-content;
  box-shadow: 8px 8px var(--color-green-100);
  margin-top: 40px;
  transition: box-shadow 0.3s ease;
}

a.button-type:hover {
  box-shadow: 8px -8px var(--color-green-100);
  transition: box-shadow 0.3s ease;
}
