.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  background-color: white;
  margin: 0 auto;
  cursor: none;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin: 0 auto;
  padding: 80px 0;
}

.titleAnimationContainer {
  width: 100%;
  padding: 0 80px;
}

.parallaxTextContainer {
  width: 100%;
  margin: 200px auto 100px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: var(--color-green-500);
}

.cursor {
  background-color: black;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1005;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor div {
  position: absolute;
  top: 0%;
  left: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  mix-blend-mode: difference;
}
