.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  margin: 0 auto;
  cursor: auto;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin: 0 auto;
  padding: 80px 0;
}

.titleAnimationContainer {
  width: 100%;
  padding: 0 30px;
}

.parallaxTextContainer {
  width: 100%;
  margin: 200px auto 100px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: var(--color-green-500);
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 60px auto;
  padding: 0 24px;
  z-index: var(--z-index-3);
}

.about p {
  margin-bottom: 1.5rem;
  color: white;
}

@media only screen and (min-width: 767px) {
  .page {
    cursor: none;
  }
}

@media only screen and (min-width: 900px) {
  .titleAnimationContainer {
    width: 100%;
    padding: 0 80px;
  }
  .about {
    width: 65%;
    padding: 0 80px;
  }
}
