.topMessage {
  margin-top: 20px;
  color: var(--color-green-500);
  font-family: var(--font-family-headings);
  font-size: 16vw; /* resize with the width */
  line-height: 1.2;
  font-variation-settings: "wght" 100, "wdth" 85;
  animation: topMessageAnimation 10s infinite forwards;
  animation-delay: 0s;
  animation-play-state: running;
  transition: font-variation-settings 2s ease-in-out;
}

@keyframes topMessageAnimation {
  60% {
    font-variation-settings: "wght" 500, "wdth" 90; /* Less extreme weight change for mobile */
  }

  100% {
    font-variation-settings: "wght" 100, "wdth" 85;
  }
}

.topMessage .topMessageHeading {
  font-size: 16vw; /* resize with the width */
  line-height: 1.2;
  z-index: 10;
  position: relative;
  mix-blend-mode: color-dodge;
  isolation: isolate;
  margin: 8rem 0 2rem 0;
}

@media only screen and (min-width: 900px) {
  .topMessage {
    margin-top: 0px;
    line-height: 1.1;
    font-size: 14vw;
    font-variation-settings: "wght" 100, "wdth" 85;
  }

  .topMessage .topMessageHeading {
    margin: 6rem 0 0 0;
    font-size: 14vw;
    margin: 6rem 0 0 0;
  }

  @keyframes topMessageAnimation {
    60% {
      font-variation-settings: "wght" 700, "wdth" 100; /* Increase the weight change */
    }

    100% {
      font-variation-settings: "wght" 100, "wdth" 85;
    }
  }
}
